@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Source+Sans+3:wght@400;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root,
.App,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}
.app {
  font-size: 1.5rem;

  display: flex;
}
.MuiTableBody-root .MuiTableRow-root .css-1ex1afd-MuiTableCell-root,
.MuiTableHead-root .MuiTableRow-root .MuiTableCell-head {
  font-size: 1.6rem;
}
a {
  text-decoration: none;
  color: #fff;
}
/* .content {
  position: relative;
} */

/* ::-webkit-scrollbar {
  width: 1rem;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #e0e0e0;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
} */
/* Handle on Hover */
/* ::-webkit-scrollbar-track:hover {
  background: #555;
} */
